[Unit]
Description=compose manager
After=xorg.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/picom --backend xrender 
Restart=always

[Install]
WantedBy=graphical.target
